@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Cinzel:wght@400..900&family=Lobster&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Vazirmatn:wght@100..900&family=Young+Serif&display=swap");

:root {
  --red-main-color: #d90a14; /* Red background button */
  --orange-main-color: #cd4e17; /* Orange background button */

  --white-color: #fff;
  --main-background-color: #1d1d1d;

  --hover-red-button-color: #c30912;
  --Selected-red-button-color: #ae0810;

  --hover-orange-button-color: #b94615;
  --Selected-orange-button-color: #a43e12;

  /* Font Size */
  --MainTitle-fontSize: 40px;
  --fontSize-1: 24px;
  --fontSize-2: 20px;
  --fontSize-3: 16px;

  /* Font Weight */
  --Weight-extraBold: 900;
  --weight-bold: 700;
  --weight-semiBold: 600;
  --weight-medium: 500;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  background-color: var(--main-background-color);
}
body {
  font-family: "Vazirmatn", sans-serif;
}
