.slider-inner {
  box-shadow: 0px 1px 8px 0px #D90A141F;
}

.link-spotlight {
  display: inline-block;
  position: absolute;
  left: 12px;
  width: 8px;
  height: 8px;
  background-color: rgba(217, 10, 20, 0.22);
  box-shadow: 0 0 32px 12px rgba(217, 10, 20, 0.4);
}